body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.lists {
    
    color:purple;
    border-width:100px;
    border-position: fixed;
    border-top: double;
    
    border-color:grey;

}

img{
    font-style:italic;
    
    border-color:grey;
    padding-top: 5pt;
    padding-bottom: 5pt;
             
}

body{
    background-color: #F5F5F5;
    
}

img {
    max-width: 50%;
    height: auto;
    
}



  a, link {
    /*color: #295f13;
    font-size:medium;*/

}

.nav li {
    font-style:italic;
    font-size:xx-large;
    color: black;

    background-color:;
    -webkit-box-shadow: 0px 0px 4px #791313;
       -moz-box-shadow: 0px 0px 4px #791313;
            box-shadow: 0px 0px 4px #791313;
}

